:root  > * {
    --md-primary-fg-color:        #0c1c35;
    --md-accent-fg-color:        #327ad8;
    --md-typeset-a-color:     #8b2e03;
}

[data-md-color-scheme="slate"][data-md-color-primary="indigo"]{
    --md-primary-fg-color: #0c1c35;
    --md-accent-fg-color: #327ad8;
    --md-typeset-a-color: #327ad8;
}

.md-nav__link--active {
    font-weight: 600;
    background: #ffffff;
    border-left: 3px solid #327ad8;
    padding-left: 0.8rem;
    border-radius: 0 4px 4px 0;
}

[data-md-color-scheme="slate"][data-md-color-primary="indigo"] .md-nav__link--active {
    font-weight: 600;
    background: #0c1c35;
    border-left: 3px solid #327ad8;
    padding-left: 0.8rem;
    border-radius: 0 4px 4px 0;
}

